<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>

</head>
<body>
    <form method="post" action="/posts">
    <input type="text" placeholder="Enter userName" name="name">
    <br>

    
    <textarea placeholder="write your content" name="content"rows="4" cols="50"> </textarea>
    <br>
    <button>create post</button>
    </form>
   
</body>
</html>